<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add Matiere to Class</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>


<div class="container my-2">
		<div class="card">

<form action="#" th:action="@{/classes/addMat}"
						th:object="${msg}" method="post">
						<div class="row">


	<div class="form-group col-md-8">
		<label for="classse">Matiere :</label> <select class="form-control"
		th:field="*{matiere}" id="matiere">

			<option th:each="m : ${matieres}" th:value="${m.id}"
				th:text="${m.label}"></option>
		</select>
	</div>
	<div class="form-group col-md-8">
		<label for="classse" th:field="*{classe}"></label> <select class="form-control"
			 id="classe" th:field="*{classe}" >

			<option  th:value="${classe.id}"
				th:text="${classe.label}"></option>
		</select>
	</div>
	<div class="col-md-8">
								<input type="submit" class="btn btn-primary" value="Add Matiere">
							</div>
	
	</div>
	</form>
	
	</div>
	</div>
</body>
</html>